<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="miCadena" connectionString="generarlo con el explorador de servidores"/>
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0"/>

    <authentication mode="Windows">
    </authentication>
   

   
  </system.web>
 


 

</configuration>