<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
  <add name="CordobaViajess" connectionString="Data Source=CAMILA-PC\CAMIBD;Initial Catalog=CordobaViajess;Integrated Security=True"/>
  </connectionStrings>

  <!--Esta configuracion permite el acceso a esta pagina a los usuarios anonimos (no logueados)-->
  <location path="CordobaViajes.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--Cuidado! que tambien se autoriza o deniega el acceso a imagenes, scripts, etc. (a todos los archivos y/o carpetas)-->
  <!--esta configuracion permite acceso anonimo a la carpeta imagenes-->
  
  <!--<location path="boostrap\img">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="boostrap\js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="boostrap\css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->

  <!--<location path="VentasContado.aspx">
    <system.web>
      <authorization>
        <allow roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="VentasCredito.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores,clientes"/>
      </authorization>
    </system.web>
  </location>-->

    <system.web>

      

      <!--Esta configuracion deniega el acceso a todas la paginas (y otros recursos:archivos, imagenes, etc) a todos los usuarios anonimos (no logueados)-->
      <authorization>
      <allow users="?"/>
      </authorization>


      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <authentication mode="Forms">
      <forms defaultUrl="CordobaViajes.aspx" loginUrl="IniciarSesion.aspx"/>
      </authentication>
      
      
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
